extends layout

block content
    div(class='page-header')
        h1 Administrator 

    form(method='POST' action='' id='admin-form')
        label Secret Password 
            input(type='password' name='password' required='true')
        button Become Admin

    if err
        div(class='error-message-div')
            ul
                each e in err 
                    li=e.msg  