extends layout

block content
    div(class='page-header')
        h1 Administrator 

    div(class='container')
        form(method='POST' action='' id='admin-form')
            p * Only I, the creator, knows the admin password. Watch the video below if you are interested in the admin's capabilities.
            label Admin Password 
                input(type='password' name='password' required='true')

        div(class='form-buttons')
            a(href='/home')
                button Cancel
            button(type='submit' form='admin-form') Become Admin

        if err
            div(class='admin-error-message')
                div(class='error-message-div')
                    ul
                        each e in err 
                            li=e.msg  

        video(class='adminDemoVideo' autoPlay loop muted)
            source(src='/images/MembersOnlyAdminDemo.mp4' type='video/mp4')
