extends layout

block content
    div(class='page-header')
        h1 Admin

    div(class='nav')
        a(href='/home')
            button Home

    h1 You are now an admin

    if err
        div(class='error-message-div')
            ul
                each e in err 
                    li=e.msg  