extends layout

block content
    div(class='page-header')
        h1= title

    div(class='container')
        form(method='POST' action='' id='create-message-form')
            label Title 
                input(type='text' name='title' required='true')
            label Message
                textarea(name="text" cols="40", rows="5" required='true')
        
        div(class='form-buttons' id='create-message-form-buttons')
            a(href='/home')
                button Cancel 
            
            button(type='submit' form='create-message-form') Create message