extends layout

block content

  div(class='page-header')
    h1= title
  
  div(class='container')
    div(class='loginPrompt')
      p Have an account?
      a(href='/login') 
        button Login 

    div(class='signUpPrompt')
      p New member?
      a(href='/sign-up') 
        button#signUpBtn Sign Up

    div(class='guestPrompt')
      p Dont feel like creating an account?
      form(action="/guest" method='POST')
        div(class='guest-login-info')
          input(type='text' name='username' required='true' value=randomString)
          input(type="password" name='password' required='true' value=randomString)
        a(href='/guest') 
          button Login as Guest
