extends layout

block content
  div(class='page-header')
    h1= title
  
  div(class='homepage-container')
    p Have an account?
      a(href='/login') 
        button Login 
    
    p New member?
      a(href='/sign-up') 
        button Sign Up
