extends layout

block content
  div(class='page-header')
    h1= title

  form(method='POST' action='' id='login-form')
    label Username 
      input(type='text' name='username' required='true')
    labl Password 
      input(type="password" name='password' required='true')

  div(class='formButtons')
    a(href='/')
      button Cancel 
    
    button(type='submit' form='login-form') Login
  
  if err  
    p=err 
