extends layout

block content
  div(class='page-header')
    h1= title

  div(class='container')  
    form(method='POST' action='' id='sign-up-form')
      label Username 
        input(type='text' name='username' required='true')
      label First Name 
        input(type="text" name='first_name' required='true')
      label Last Name 
        input(type="text" name='last_name' required='true')
      labl Password 
        input(type="password" name='password' required='true')
      label Confirm Password 
        input(type="password" name='password_confirmation' required='true')

    div(class='form-buttons')
      a(href='/')
        button Cancel 
      
      button(type='submit' form='sign-up-form') Sign Up
    
    if err
      div(class='error-message-div')
        ul
          each e in err 
            li=e.msg  