@font-face {
  font-family: Yantramanav;
  src: url('../fonts/Yantramanav/Yantramanav-Regular.ttf');
}

/* Group Styles */
body {
  font-size: large;
  padding: 50px;
  font-family: Yantramanav;
  color: #147efb;

  background-color: #FAF9F6;
  opacity: 1;
  background-image:  radial-gradient(#147efb 2px, transparent 2px), radial-gradient(#147efb 2px, #FAF9F6 2px);
  background-size: 80px 80px;
  background-position: 0 0,40px 40px;

}
button {
  font-size: medium;
  font-family: Yantramanav;
  background-color: #147efb;
  font-weight: 600;
  border: 2px solid #147efb;
  border-radius: 1rem;
  padding: 8px;
  color: white;
}
button:hover {
  cursor: pointer;
}
button:active, .container #signUpBtn:active, .container #guestLoginBtn:active, .nav #clubBtn:active, .nav #adminBtn:active, .nav #messageBtn:active, .nav #logoutBtn:active {
  border: 2px solid white;
}
.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 150px;
}
.page-header h2 {
  margin-top: 0;
}
.container {
  display: flex;
  border-radius: 1rem;
  flex-direction: column;
  align-items: center;
  background-color: black;
  box-shadow: -10px 5px 0px #8e8e93;
  color: white;
  padding: 1rem;
}
.form-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form input {
  margin: 0.5rem;
}
.error-message-div {
  display: flex;
  justify-content: center;
}
.error-message-div ul {
  color: #fc3d39;
  font-weight: 600;
}

/* Homepage */
.container .loginPrompt, .container .signUpPrompt, .container .guestPrompt {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.container .loginPrompt {
  margin-top: 2rem;
}
.container .guestPrompt {
  margin-bottom: 2rem;
}
.container #signUpBtn {
  background-color: #fc3158;
  border: 2px solid #fc3158;
}
.container #guestLoginBtn {
  background-color: #fd9426;
  border: 2px solid #fd9426;
}
.guest-login-info {
  display: none;
}

/* Navigation */
.nav {
  background-color: black;
  padding: 1rem;
  padding-top: 2rem;
  border-radius: 1rem 1rem 0 0;
  display: flex;
  justify-content: space-evenly;
  box-shadow: -10px 10px 0 #8e8e93;
}
.nav #clubBtn {
  background-color: #53d769;
  border: 2px solid #53d769;
}
.nav #adminBtn {
  background-color: #fd9426;
  border: 2px solid #fd9426;
}
.nav #messageBtn {
  background-color: #fc3158;
  border: 2px solid #fc3158;
}
.nav #logoutBtn {
  background-color: #fc3d39;
  border: 2px solid #fc3d39;
}

/* Logged in Home Page */
.messagesContainer {
  display: flex;
  border-radius: 0 0 1rem 1rem;
  flex-direction: column;
  align-items: center;
  background-color: black;
  box-shadow: -10px 5px 0px #8e8e93;
  padding-bottom: 1rem;
}
.individualMessage {
  margin: 1rem;
}
.individualMessage .adminOptions {
  display: flex;
  justify-content: end;
  margin-bottom: 0.5rem;
}
.individualMessage .messageInfo {
  display: flex;
  flex-direction: column;
  background-color: #147efb;
  color: white;
  border-radius: 1rem;
  padding: 1rem 3rem 1rem 3rem;
}
.individualMessage .messageInfo #title {
  display: flex;
  justify-content: center;
  font-weight: 600;
}
.individualMessage .messageInfo #text {
  display: flex;
  justify-content: center;
  overflow-wrap: anywhere;
}
.individualMessage .messageInfo #author {
  display: flex;
  justify-content: end;
}
.individualMessage .messageDate {
  display: flex;
  justify-content: end;
  color: #8e8e93;
}
.individualMessage .messageDate p {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

/* Club */
.clubGif {
  margin-bottom: 1rem;
  overflow: auto;
}
.welcomeToClubVideo {
  display: flex;
  justify-content: center;
  width: 100%;
  width: -moz-available;          /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
}
.gifLink a {
  text-decoration: none;
  font-style: italic;
  font-weight: 600;
  color: #147efb;
  padding-bottom: 2px;
}
.gifLink a:hover {
  padding-bottom: 0;
  border-bottom: 2px solid #147efb;
}

/* Admin */
.adminDemoVideo {
  width: 100%;
  width: -moz-available;          /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
}
.admin-error-message .error-message-div ul {
  margin-bottom: 0;
}

/* Create Message */
#create-message-form label {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#create-message-form-buttons {
  margin-top: 1rem;
}

@media (max-width: 550px) {
  #create-message-form {
    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
  }
  #create-message-form label, #create-message-form label input {
    width: 90%;
  }
}
@media (max-width: 425px) {
  .nav {
    flex-direction: column;
    align-items: center;
    min-width: 118px;
    padding-top: 1rem;
  }
  .nav a {
    margin-top: 1rem;
  }
  .messagesContainer {
    min-width: 150px;
  }
  .individualMessage {
    margin: 5px;
    min-width: 70px;
  }
  .individualMessage .messageInfo {
    padding: 5%;
  }
}
@media (max-width: 350px) {
  form label, form label input {
    width: 90%;
    margin: 0;
  }
}
@media (max-width: 300px) {
  .loginPrompt, .signUpPrompt, .guestPrompt {
    flex-direction: column;
  }
  .loginPrompt p, .signUpPrompt p, .guestPrompt p {
    margin-bottom: 0;
  }
  .container {
    min-width: 150px;
  }
  .form-buttons {
    margin-top: 1rem;
    gap: 5px;
  }
}

