@font-face {
  font-family: Yantramanav;
  src: url('../fonts/Yantramanav/Yantramanav-Regular.ttf');
}

body {
  padding: 50px;
  font-family: Yantramanav;
  color: #147efb;
  background-color: #FAF9F6;
}
button {
  font-family: Yantramanav;
  background-color: #147efb;
  font-weight: 600;
  border: 2px solid #147efb;
  border-radius: 1rem;
  padding: 8px;
  color: white;
}
button:hover {
  cursor: pointer;
}
button:active {
  border: 2px solid white;
}
.page-header {
  display: flex;
  justify-content: center;
}

/* Group */
.container {
  display: flex;
  border-radius: 1rem;
  flex-direction: column;
  align-items: center;
  background-color: black;
  box-shadow: -10px 5px 0px #8e8e93;
  color: white;
}
.loginPage .container, .signUpPage .container, .clubPage .container, .adminPage .container, .createMessagePage .container {
  padding: 1rem;
}

/* Homepage */
.container .loginPrompt, .container .signUpPrompt, .container .guestPrompt {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.container .loginPrompt {
  margin-top: 2rem;
}
.container .guestPrompt {
  margin-bottom: 2rem;
}
.container #signUpBtn {
  background-color: #fc3158;
  border: 2px solid #fc3158;
}
.container #guestLoginBtn {
  background-color: #fd9426;
  border: 2px solid #fd9426;
}

/* Login Page */



form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form input {
  margin: 0.5rem;
}

.error-message-div {
  display: flex;
  justify-content: center;
}
.error-message-div ul {
  color: #fc3d39;
  font-weight: 600;
}
.success-message-div {
  display: flex;
  justify-content: center;
  color: green;
  font-weight: 600;
}

/* Home Page */
.guest-login-info {
  display: none;
}

/* Navigation */
.nav {
  background-color: black;
  padding: 1rem;
  padding-top: 2rem;
  border-radius: 1rem 1rem 0 0;
  display: flex;
  justify-content: space-evenly;
  box-shadow: -10px 10px 0 #8e8e93;
}
.nav #clubBtn {
  background-color: #53d769;
  border: 2px solid #53d769;
}
.nav #adminBtn {
  background-color: #fd9426;
  border: 2px solid #fd9426;
}
.nav #messageBtn {
  background-color: #fc3158;
  border: 2px solid #fc3158;
}
.nav #logoutBtn {
  background-color: #fc3d39;
  border: 2px solid #fc3d39;
}

/* Form Buttons */
.form-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* Logged in Home Page */
.messagesContainer {
  display: flex;
  border-radius: 0 0 1rem 1rem;
  flex-direction: column;
  align-items: center;
  background-color: black;
  box-shadow: -10px 5px 0px #8e8e93;
  padding-bottom: 1rem;
}
.individualMessage {
  margin: 1rem;
}
.individualMessage .adminOptions {
  display: flex;
  justify-content: end;
  margin-bottom: 0.5rem;
}
.individualMessage .messageInfo {
  display: flex;
  flex-direction: column;
  background-color: #147efb;
  color: white;
  border-radius: 1rem;
  padding: 1rem 3rem 1rem 3rem;
}
.individualMessage .messageInfo #title {
  display: flex;
  justify-content: center;
  font-weight: 600;
}
.individualMessage .messageInfo #text {
  display: flex;
  justify-content: center;
}
.individualMessage .messageInfo #author {
  display: flex;
  justify-content: end;
}
.individualMessage .messageDate {
  display: flex;
  justify-content: end;
  color: #8e8e93;
}
.individualMessage .messageDate p {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

