@font-face {
  font-family: Yantramanav;
  src: url('../fonts/Yantramanav/Yantramanav-Regular.ttf');
}

body {
  padding: 50px;
  font-family: Yantramanav;
  color: #147efb;
  background-color: #FAF9F6;
}
button {
  font-family: Yantramanav;
  background-color: #147efb;
  font-weight: 600;
  border: 2px solid #147efb;
  border-radius: 1rem;
  padding: 8px;
  color: white;
}
button:hover {
  cursor: pointer;
}
button:active {
  border: 2px solid white;
}

.page-header {
  display: flex;
  justify-content: center;
}

.homepage-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form input {
  margin: 0.5rem;
}

.formButtons {
  display: flex;
  justify-content: center;
  margin: 1rem;
  gap: 1rem;
}

.error-message-div {
  display: flex;
  justify-content: center;
}
.error-message-div ul {
  color: red;
  font-weight: 600;
}
.success-message-div {
  display: flex;
  justify-content: center;
  color: green;
  font-weight: 600;
}

/* Home Page */
.guest-login-info {
  display: none;
}

/* Navigation */
.nav {
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
}

/* Logged in Home Page */
.messagesContainer {
  display: flex;
  border-radius: 1rem;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  background-color: black;
}
.individualMessage {
  margin: 1rem;
}
.individualMessage .adminOptions {
  display: flex;
  justify-content: end;
  margin-bottom: 0.5rem;
}
.individualMessage .messageInfo {
  background-color: #147efb;
  color: white;
  border-radius: 1rem;
  padding: 1rem 3rem 1rem 3rem;
}
.individualMessage .messageDate {
  display: flex;
  justify-content: end;
  color: #8e8e93;
}

